<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/icon.jpg">
    
</head>
<body>
    <div class="main-class">
        {{>header}}
        <p>
            <h2>GitHub: <a class="linksToAccounts" href="https://github.com/souvik9748/node-weather-website">Node-Weather-Website</a> </h2>
        </p>
        <p> If you want then you can contribute to this repo. Thanks!</p>
    </div>
    
    {{>footer}}
</body>
</html>