<!DOCTYPE html>
<html>
<head>
    <title>About Creator</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/icon.jpg">
    
</head>
<body>
    <div class="main-class">
        {{>header}}
        <img class="potrait" src="/img/image.jpg">
        <p>Hi, my name is Souvik Sarkar. </p>
    </div>
    
    {{>footer}}
</body>
</html>