<!DOCTYPE html>
<html>
<head>
    <title>About Creator</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/icon.jpg">
    
</head>
<body>
    <div class="main-class">
        {{>header}}
        <img class="potrait" src="/img/image.jpg">
        <p>Hi, my name is Souvik Sarkar. Love to code. Not a geek or nerd (Why god? Why!?)</p>
        <p>Some of my accounts:</p>
        <h2>LinkedIn: <a class="linksToAccounts" href="https://www.linkedin.com/in/souvik-sarkar-842584163/">souvik-sarkar-842584163</a> </h2>
        <h2>GitHub: <a class="linksToAccounts" href="https://github.com/souvik9748">souvik9748</a> </h2>
        <h2>LeetCode: <a class="linksToAccounts" href="https://leetcode.com/souvik9748/">souvik9748</a> </h2>
        <h2>CodeChef: <a class="linksToAccounts" href="https://www.codechef.com/users/souvik9748">souvik9748</a> </h2>
        <p class="quote">“Everything before the word ‘but’ is horseshit.”</p>
    </div>
    
    {{>footer}}
</body>
</html>