<!DOCTYPE html>
<html>
<head>
    <title>Error!</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/icon.jpg">
</head>
<body>
    <div class="main-class">
        {{>header}}
        <h1>Error page</h1>
    </div>
    
    {{>footer}}
</body>
</html>